.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

@media (width < 900px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .placeholderLogo {
    display: none;
  }
}

@media (width < 500px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .placeholderLogo {
    display: none;
  }
}
