.page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.shows {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.show {
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 160px;
}

.showName {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.showLeft {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.showRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
}

.showInfos {
  display: flex;
  flex-direction: row;
  font-size: 0.7em;
  gap: 20px;
}

/* This is copied from the Button component because nesting <a> tags is not
 * allowed, so Button can't be used. */
.button {
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 13px 29px;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  background-color: #cb092a;
  color: white;

  &:hover {
    background-color: #3a0300;
  }
}

.testimonials {
  column-gap: 100px;

  & > * {
    break-inside: avoid;
    margin-bottom: 10px;
  }
}

@media (width > 800px) {
  .show {
    height: 84px;
    flex-direction: row;
  }

  .showRight {
    align-items: flex-end;
  }
}

@media (width > 1000px) {
  .testimonials {
    columns: 2;
  }
}
