.page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.shows {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.show {
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  height: 120px;
  font-size: 24px;
}

.showName {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.showLeft {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.showRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
}

.showInfos {
  display: flex;
  flex-direction: row;
  font-size: 0.7em;
  gap: 20px;
}

.showDate {
  flex-grow: 0;
  flex-shrink: 0;
}

.showDateDesktop {
  display: none;
}

.showDateMobile {
  display: block;
}

.showLocation {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.testimonials {
  column-gap: 100px;

  & > * {
    break-inside: avoid;
    margin-bottom: 10px;
  }
}

@media (width < 800px) {
  .showUrgency {
    display: none;
  }
}

@media (width > 800px) {
  .show {
    height: 64px;
    flex-direction: row;
  }

  .showRight {
    align-items: flex-end;
  }

  .dateDesktop {
    display: block;
  }

  .dateMobile {
    display: none;
  }
}

@media (width > 1000px) {
  .testimonials {
    columns: 2;
  }
}
