:root {
  --max-mobile-width: 700px;
  --max-desktop-width: 1100px;

  --color-accent: #cf0d2b;
}

html,
body {
  max-width: 100vw;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 22px;
}

.center-container {
  max-width: calc(var(--max-desktop-width) + 10px);
  margin: 0 auto;
  padding: 0 25px;
}

.content-wrapper {
  padding: 10px 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
