:root {
  --max-mobile-width: 700px;
  --max-desktop-width: 1100px;

  --color-accent: #cf0d2b;
  --color-accent-light: #fd8686;
  --color-alternate-light: #d3e5e5;
}

html,
body {
  max-width: 100%;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

h1 {
  font-size: 24px;
  line-height: normal;
  color: var(--color-accent);
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

.centerContainer {
  max-width: calc(var(--max-desktop-width) + 10px);
  margin: 0 auto;
  padding: 0 25px;
}

.contentWrapper {
  padding: 10px 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-accent);
  transition: color linear 0.1s;
}
