.page {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.group-vertical {
  display: flex;
  flex-direction: column;
  gap: 1.1em;
}

.group-horizontal {
  display: flex;
  flex-direction: column;
  gap: 40px;

  & > * {
    flex: 1 1 0;
  }
}

@media (width > 1000px) {
  .group-horizontal {
    flex-direction: row;

    & > * {
      width: 0;
    }
  }
}

.journal-image {
  flex-grow: 0;
  width: auto;

  & img {
    display: block;

    /* Fill width on mobile */
    min-width: 100%;
  }
}
