.accordionItem {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  align-items: center;

  &:hover .iconInactive {
    color: var(--color-accent);
  }
}

.iconContainer {
  display: grid;
}

.icon {
  grid-area: 1 / 1;
  transition: color linear 0.2s;
}

.iconActive {
  visibility: hidden;
}

.active .iconActive {
  visibility: visible;
  color: var(--color-accent);
}

.iconInactive {
  visibility: visible;
}

.active .iconInactive {
  visibility: hidden;
}

.title {
  color: var(--color-accent);
  font-size: 16px;
  line-height: 24px;
}

.contentInner {
  padding: 20px 0;
}
