.accordionItem {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  align-items: center;

  &:hover .icon::before {
    background-color: var(--color-accent);
  }
}

.active .icon::before {
  background-color: var(--color-accent);
  content: "—";
}

.icon::before {
  display: block;
  content: "+";
  background-color: #333333;
  color: #ffffff;
  width: 24px;
  line-height: 24px;
  font-size: 15px;
  text-align: center;
  transition: background-color linear 0.2s;
}

.title {
  color: var(--color-accent);
  font-size: 16px;
  line-height: 24px;
}

.contentInner {
  padding: 20px 0;
}
