.container {
  cursor: pointer;
}

.imageContainer {
  overflow: hidden;
}

.image {
  display: block;
  transition: transform ease-in-out 0.5s;
  object-fit: cover;
  aspect-ratio: 5 / 4;
  width: 100%;

  &:hover {
    transform: scale3d(1.1, 1.1, 1);
  }
}

.title {
  color: var(--color-accent);
  font-size: 16px;
  line-height: 24px;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.dialog {
  --margin-bottom: 50px;
  width: 100%;
  max-width: 500px;
  max-height: calc(100vh - 50px - var(--margin-bottom));
  margin: 50px auto var(--margin-bottom);
  padding: 30px;
  border: 0;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
  }

  &:focus {
    outline: none;
  }
}

.dialogImage {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.dialogTitle {
  color: var(--color-accent);
  padding: 10px 0;
}

@media (width < 900px) {
  .dialog {
    --margin-bottom: 0px;
  }
}
