.header-container {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  --navbar-logo-height: 80px;
  font-size: 14px;
  line-height: normal;

  & img {
    height: var(--navbar-logo-height);
    margin-top: 4px;
    transition: height linear 0.1s;
  }
}

.header-container-scrolled {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  --navbar-logo-height: 55px;
}

.header {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  line-height: var(--navbar-logo-height);

  &::before {
    font-size: 25px;
    content: "\f0c9";
  }
}

.listOuter {
  position: absolute;
  top: var(--navbar-logo-height);
  left: 0;
  right: 0;
  background-color: white;
  padding: 0 20px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.link {
  display: block;
  width: 100%;
  font-weight: bold;
  padding: 10px 7.5px;
  color: inherit;

  &:hover {
    color: var(--color-accent);
  }
}

.active {
  color: var(--color-accent);
}

@media (width > 1050px) {
  .button {
    display: none;
  }

  .listOuter {
    position: static;
    padding: 0;
    box-shadow: unset;

    & > div {
      /* ugly way to reach inside AnimatedCollapsibleContainer */
      height: auto !important;
    }
  }

  .list {
    flex-direction: row;
  }

  .link {
    padding: 24px 7.5px;
  }
}
