.page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tile {
  background-color: var(--color-alternate-light);
  padding: 15px;
  color: black;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  & a {
    color: inherit;
  }
}
